@import '../../common/colors.scss';

.detail-wrapper {
    max-width: 1200px;
    width: 95vw;
    min-height: 70vh;
    margin: 3.5vh auto;
    display: flex;
    flex-flow: row wrap;
    color: $font-main;
    font-weight: 400;
}

.detail-section-left, .detail-section-right {
    width: 100%;
}

.detail-section-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.detail-title {
    height: 10vh;
}

.detail-rating {
    color: $font-secondary;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 10vh;

    div {
        min-width: 50%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        p {
            padding-right: 5px;
        }

        svg {
            padding-right: 5px;
        }

        .fa-star {
            color: #FF9E00;
        }

        .fa-thumbs-up {
            color: #FAFAFA;
        }

        .fa-film {
            color: rgb(191, 213, 214);
        }

        .fa-calendar {
            color: peachpuff;
        }
    }
}

.detail-plot {
    text-align: justify;
    width: 100%;
    padding: 30px 15px 0 15px;
    margin-bottom: 30px;
    font-size: 14px;

    p {
        line-height: 21px;
    }
}

.detail-info {
    padding: 0 15px;
    font-size: 14px;
    width: 100%;

    div {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 5px 0;

        p:first-child {
            font-weight: 600;
            width: 80px;
            color: $font-main;
        }

        p {
            color: $font-secondary;
        }
    }
}

.detail-section-right {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    img {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .detail-plot {
        padding: 20px 30px 0 0;
    }
}

@media (min-width: 768px) {
    .detail-wrapper {
        height: 70vh;
        margin: 3.5vh auto;
    }

    .detail-section-left, .detail-section-right {
        height: 70vh;
    }

    .detail-section-left {
        width: 70%
    }

    .detail-plot {
        margin: 0;
    }

    .detail-info {
        margin-top: auto;
        padding: 0;
    }

    .detail-section-right {
        margin: 0;
        width: 30%;
    }
}

@media (min-width: 992px) {
    .detail-plot, .detail-info {
        font-size: 16px;
        line-height: 24px;
    }

    .detail-title {   
        h2 {
            font-size: 36px;
        }
    }

    .detail-plot {
        padding: 30px 30px 0 0;
    }
}

@media (min-width: 1200px) {

}