@import '../../common/colors.scss';

.card-outer {
    height: 34vh;
    width: 48.5%;
    margin: 1vh .75%;
    background-color: $secondary;
}

.card-top {
    img {
        display: block;
        width: 100%;
        height: 26vh;
    }
}
    
.card-info {
    color: $font-main;
    height: 8vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    h4 {
        font-size: 14px;
        font-weight: 400;
        flex-grow: 3;
    }

    p {
        font-size: 10px;
        text-align: right;
    }
}

@media (min-width: 576px) {
    .card-outer {
        width: 32%;
        margin: 1vh .66%;
    }
}

@media (min-width: 768px) {
    .card-outer {
        width: 24%;
        margin: 1vh .5%;
        cursor: pointer;
        transition: all .15s cubic-bezier(.25, .25, .25, .25);

        &:hover {
            transform: scale(1.04);
        }
    }

    .card-info {
        h4 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }
    }
}

@media (min-width: 992px) {
    .card-outer {
        width: 19%;
        margin: 0 .5%;
    }

    .card-info {
        h4 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }
}