$c-main: #0F171E;
$c-secondary: #1A242F;
$font-c-main: #FFF;
$font-c-secondary: #79B8F3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a, a:visited, a:active, a:hover {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

.layout {
    width: 100vw;
    background-color: #0F171E;
}

.main-main {
    width: 90vw;
    margin: 0 auto;
    height: 80vh;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}