@import '../common/colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a, a:visited, a:active, a:hover {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

.layout {
    width: 100vw;
    background-color: $main;
}

.main-main {
    width: 100vw;
    height: 80vh;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}