@import '../common/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: inherit;
}

.layout {
  width: 100vw;
  background-color: $main;
}